<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.jpg" %>
  <% end %>

  <div class="text-center"><h1>Cocktail Bar</h1></div>
  <div></div>
</div>
